{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1>Lista {{ list.title }}</h1>
        <p>{{ list.description }}</p>
    </div>
</div>
<div class="row">
    <table class="table table-responsive table-bordered">
        <thead>
        <tr>
            <td>Title</td>
            <td>State</td>
            <td>Description</td>
        </tr>
        </thead>
        <tbody>
        {% for todo_item in list.todo_set.all %}
            <tr>
                <td>{{ todo_item.title }}</td>
                <td>{% if todo_item.completed %}(Completado){% else %}(Pendiente){% endif %}</td>
                <td>{{ todo_item.description }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}