{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1>Listas de {{ user.first_name }}</h1>
    </div>
</div>
{% for list in user_lists %}
    <div class="row">
        <div class="col-md-12">
            <a href='{% url "user_todolist_view" list.id %}'><h2>{{ list.title }}</h2></a>
            <p>{{ list.description }}</p>
        </div>
    </div>
{% endfor %}
{% endblock %}
