{% load static %}
<!DOCTYPE html>
<html lang="en">
{% block html %}
    <head>
        {% block head %}
            <meta charset="UTF-8">
            <title>Listas de {{ user.first_name }}</title>
            <!-- Latest compiled and minified CSS -->
            <script src="/static/jquery-3.2.1.min.js"></script>
            <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css"/>

            <!-- Optional theme -->
            <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-theme.min.css" />

            <!-- Latest compiled and minified JavaScript -->
            <script src="/static/bootstrap/js/bootstrap.min.js"></script>
        {% endblock %}
    </head>
    <body class="container container-fluid">
    {% block content %}
    {% endblock %}
    </body>
{% endblock %}
</html>
